body{
      align-items: center;
      justify-items: center;
      background-size: cover;
    
      height: 100vh;
    

}
.log{
     margin-top: 150px;
     border: 2px solid gray;
     padding: 15px
    
    
}
#btn{
    margin-left: 80px;
    margin-top: 20px;

}
#btn:hover{
    color: #ae2020;
}
h2{
    margin-left: 10px;
}
